.App {
  text-align: center;
  display: inline;
}

.App-header {
  background-color: #1b4242;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0ece5;
}

.fontColor {
  color: #f0ece5;
}
.currencySelectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5c8374;
  border-radius: 14px;
  margin-top: 2vh;
}
.currencySelector {
  min-width: 200px;
  color: #f0ece5;
  vertical-align: middle;
}
